.search{
    margin-right: auto;
    width: 20rem;
}

.Main-city{
    height: 200px;
}

.main-list{
position: relative;
bottom: 30px;
}

.card-list{
    position: relative;
    right: 40px;
    list-style: none;
}
